/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 20px;
    margin-bottom: 1000px;
    border: dotted 666px 222#222;
    background-color: #444;
  }